---
import Chat from '../components/chat.astro';
import Grid from '../components/grid.astro';
import Grain from '../components/grain.astro';
import Bar from '../components/bar.astro';
import Social from '../components/social.astro';
import '../main.css';
import Frame from '../components/frame.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
		<style>
			main {
				display: grid;
				grid-template-columns: 1.05fr 1fr;
				gap: var(--gap);
				padding: var(--gap);
			}
			aside {
				display: flex;
				flex-direction: column;
				grid-column: 2;
				grid-row: 1 / -1;
				height: 100%;
				align-items: center;
				justify-content: center;
			}
			header {
				display: flex;
				flex-direction: row;
				grid-column: 1 / -1;
				gap: 5vw;
			}

			h1 {
				margin-top: auto;
				text-align: center;
				font-family: "MD Nichrome Test Ultra";
				font-size: 7.5vw;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		</style>
	</head>
	<body>
		<Grain />
		<Bar />
		<main>
			<Frame ratio="1 / 1" />
			<aside>
				<Chat />
				<h1 class="gradient">nmoo.dev</h1>
			</aside>
		</main>
		<Grid />
	</body>
</html>
