---
import '../main.css';
---
<div class="content">
	<h1>nmoo.dev scenes</h1>

	<h2>Pre-Show</h2>
	<ul>
		<li><a href="/soon/">Starting Soon</a></li>
		<li><a href="/countdown/">Countdown</a></li>
	</ul>

	<h2>On Air</h2>
	<ul>
		<li><a href="/solo/">Solo</a> &ndash; host in sidebar, main space for screenshare</li>
		<li><a href="/face/">Face</a> &ndash; main space for host plus live chat</li>
		<li><a href="/interview/">Interview</a> &ndash; host and guest, side-by-side</li>
		<li><a href="/backseat/">Backseat</a> &ndash; guest in sidebar, main space for screenshare</li>
	</ul>
</div>

<style>
	body {
		font-family: sans-serif;
		max-width: 65ch;
		margin: 3em auto;
	}

	h1, h2 {
		font-family: var(--font-display), sans-serif;
	}
	
	h2 {
		margin-top: 2em;
	}

	li + li {
		margin-top: 1em;
	}

	.content {
		margin: 1rem auto;
	}
</style>
