---
import Grid from '../components/grid.astro';
import Grain from '../components/grain.astro';
import Bar from '../components/bar.astro';
import '../main.css';

import { format, formatDistanceToNow } from 'date-fns';

const url = new URL(Astro.request.url);
console.log({ geo: Astro.request.geo });
const t = url.searchParams.get('t');
if (!t) {
    return Astro.redirect('/');
}
const date = new Date(Number.parseInt(t) * 1000);

const timeUntil = formatDistanceToNow(date, { addSuffix: true }).replace(/\s+about\s+/, ' ');
const localTime = format(date, 'PP p');
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
		<style>
			main {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				padding: calc(var(--gap) * 2);
				gap: var(--gap);
				height: max-content;
				margin: auto;
			}

			@media (min-width: 1028px) {
				main {
					align-items: center;
				}
				h1, h2, h3 {
					text-align: center;
				}
			}
			h1 {
				width: auto;
				font-family: var(--font-display);
				font-size: clamp(4rem, 15vw, 10rem);
				line-height: 0.9;
			}
			h2 {
				width: auto;
				font-family: var(--font-display);
				font-size: clamp(1.5rem, 6vw, 4rem);
				margin-top: 2vw;
				color: var(--rhubarb);
				line-height: 0.9;
			}

			time-until, local-time {
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				white-space: nowrap;
			}
			local-time {
				animation-direction: reverse;
			}
			h3 {
				font-size: 3vw;
				color: var(--night);
				font-family: var(--font-display);
				margin-top: calc(var(--gap) * 4);
			}
			a {
				color: var(--cobalt);
			}
		</style>
	</head>
	<body>
		<Grain />
		<Bar />
		<main>
			<div>
				<h1>Next show <time-until class="gradient" datetime={date.toISOString()}>{timeUntil}</time-until></h1>
				<h2>
					<local-time class="gradient" datetime={date.toISOString()} month="short" day="numeric" year="numeric" hour="numeric" minute="numeric">
						{localTime}
					</local-time>
				</h2>
			</div>
			<div>
				<h3>Join nmoo.dev <a href="https://www.twitch.tv/nmoodev">on twitch</a>!</h3>
			</div>
		</main>
		<Grid />

		<script>
			import '../scripts/timezone.ts';
		</script>
	</body>
</html>
