---
import { show } from '../config.ts';
import Chat from '../components/chat.astro';
import Frame from '../components/frame.astro';
import Grid from '../components/grid.astro';
import Grain from '../components/grain.astro';
import Bar from '../components/bar.astro';
import Social from '../components/social.astro';
import '../main.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
		<style>
			main {
				display: grid;
				grid-template-columns: 3fr 1fr;
				gap: var(--gap);
				padding: calc(var(--gap) * 2) var(--gap);
			}
			aside {
				grid-column: 2;
				grid-row: 1;
			}
			footer {
				display: flex;
				flex-direction: row;
				grid-column: 1 / -1;
				gap: 5vw;
			}

			h1 {
				font-family: "MD Nichrome Test Ultra";
				font-size: 5vw;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
			h3 {
				font-size: 2vw;
				font-family: MDNichromeTest-Bold;
			}
			p {
				font-size: 1.5vw;
				font-family: sans-serif;
				font-weight: bold;
			}
		</style>
	</head>
	<body>
		<Grain />
		<Bar />
		<main>
			<Frame ratio="1.675 / 1" max="610"/>
			<aside>
				<Frame ratio="1 / 1" />
				<Chat small />
			</aside>
			<footer>
				<div>
					<h1 class="gradient">nmoo.dev</h1>
					<p set:html={show.title} />
				</div>
				<Social />
			</footer>
		</main>

		<Grid />
	</body>
</html>
